/* CSS declarations go here */
@font-face{ 
  font-family: 'proxima-nova';
  src: url('https://raw.githubusercontent.com/GetAmbassador/conventions-bower/master/fonts/proxima-nova/proximanova-regular-webfont.eot');
  src: url('https://raw.githubusercontent.com/GetAmbassador/conventions-bower/master/fonts/proxima-nova/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://raw.githubusercontent.com/GetAmbassador/conventions-bower/master/fonts/proxima-nova/proximanova-regular-webfont.woff') format('woff'),
       url('https://raw.githubusercontent.com/GetAmbassador/conventions-bower/master/fonts/proxima-nova/proximanova-regular-webfont.ttf') format('truetype'),
       url('https://raw.githubusercontent.com/GetAmbassador/conventions-bower/master/fonts/proxima-nova/proximanova-regular-webfont.svg#webfonWebFontt') format('svg');
}
body {
  font-family: proxima-nova;
  margin: 0;
}
.content {
  max-width: 480px;
  margin: 0 auto;
  padding: 25px;
}
fieldset {
  border: 0;
  margin: 10px 0;
  padding: 0;
}
.button {
  margin: 40px 0;
  border-radius: 3px;
  font-weight: 600;
  background: #298eea;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  border: 0;
  text-align: center;
  padding: 0 1.6rem;
  font-size: 70px;
  min-height: 70px;
  line-height: 70px;
  width: 100%;
  display: block;
}
.button:focus {
    outline:none;
}
form .button:disabled {
  font-size: 35px;
}
header {
  height: 80px;
  background: #298eea;
}
header h1 {
  line-height: 80px;
  color: #fff;
  text-align: center;
}
h2 {
  font-size: 60px;
  margin: 20px 0;
}
input[readonly] {
  border: 0;
}
.content span,
.content input,
.content select,
.content option,
.content em {
  display: block;
  margin: 0;
  font-style: normal;
  font-size: 30px;
  float: left;
  width: 50%;
}
.content fieldset *:nth-child(1) {
  width: 25%;
}
.content fieldset *:nth-child(2) {
  width: 75%;
}
