/* CSS declarations go here */
@font-face{ 
  font-family: 'proxima-nova';
  src: url('https://raw.githubusercontent.com/GetAmbassador/conventions-bower/master/fonts/proxima-nova/proximanova-regular-webfont.eot');
  src: url('https://raw.githubusercontent.com/GetAmbassador/conventions-bower/master/fonts/proxima-nova/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://raw.githubusercontent.com/GetAmbassador/conventions-bower/master/fonts/proxima-nova/proximanova-regular-webfont.woff') format('woff'),
       url('https://raw.githubusercontent.com/GetAmbassador/conventions-bower/master/fonts/proxima-nova/proximanova-regular-webfont.ttf') format('truetype'),
       url('https://raw.githubusercontent.com/GetAmbassador/conventions-bower/master/fonts/proxima-nova/proximanova-regular-webfont.svg#webfonWebFontt') format('svg');
}
body {
  font-family: proxima-nova;
  margin: 0;
}
.content {
  max-width: 480px;
  margin: 0 auto;
  padding: 25px;
}
fieldset {
  border: 0;
  margin: 10px 0;
  padding: 0;
}
.button {
  margin: 40px 0;
  border-radius: 3px;
  font-weight: 600;
  background: #298eea;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  border: 0;
  text-align: center;
  padding: 0 1.6rem;
  font-size: 70px;
  min-height: 70px;
  line-height: 70px;
  width: 100%;
  display: block;
}
.button:focus {
    outline:none;
}
form .button:disabled {
  font-size: 35px;
}
header {
  height: 80px;
  background: #298eea;
}
header h1 {
  line-height: 80px;
  color: #fff;
  text-align: center;
}
h2 {
  font-size: 60px;
  margin: 20px 0;
}
input[readonly] {
  border: 0;
}
.content span,
.content input,
.content select,
.content option,
.content em {
  display: block;
  margin: 0;
  font-style: normal;
  font-size: 30px;
  float: left;
  width: 50%;
}
.content fieldset *:nth-child(1) {
  width: 25%;
}
.content fieldset *:nth-child(2) {
  width: 75%;
}
.instructions {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
}

.instructions a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.instructions a:active,
.instructions a:hover {
  outline-width: 0;
}

.instructions strong {
  font-weight: inherit;
}

.instructions strong {
  font-weight: bolder;
}

.instructions h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.instructions img {
  border-style: none;
}

.instructions svg:not(:root) {
  overflow: hidden;
}

.instructions code,
.instructions kbd,
.instructions pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.instructions hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.instructions input {
  font: inherit;
  margin: 0;
}

.instructions input {
  overflow: visible;
}

.instructions button:-moz-focusring,
.instructions [type="button"]:-moz-focusring,
.instructions [type="reset"]:-moz-focusring,
.instructions [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.instructions [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.instructions table {
  border-spacing: 0;
  border-collapse: collapse;
}

.instructions td,
.instructions th {
  padding: 0;
}

.instructions * {
  box-sizing: border-box;
}

.instructions input {
  font: 13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.instructions a {
  color: #4078c0;
  text-decoration: none;
}

.instructions a:hover,
.instructions a:active {
  text-decoration: underline;
}

.instructions hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}

.instructions hr::before {
  display: table;
  content: "";
}

.instructions hr::after {
  display: table;
  clear: both;
  content: "";
}

.instructions h1,
.instructions h2,
.instructions h3,
.instructions h4,
.instructions h5,
.instructions h6 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
}

.instructions h1 {
  font-size: 30px;
}

.instructions h2 {
  font-size: 21px;
}

.instructions h3 {
  font-size: 16px;
}

.instructions h4 {
  font-size: 14px;
}

.instructions h5 {
  font-size: 12px;
}

.instructions h6 {
  font-size: 11px;
}

.instructions p {
  margin-top: 0;
  margin-bottom: 10px;
}

.instructions blockquote {
  margin: 0;
}

.instructions ul,
.instructions ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.instructions ol ol,
.instructions ul ol {
  list-style-type: lower-roman;
}

.instructions ul ul ol,
.instructions ul ol ol,
.instructions ol ul ol,
.instructions ol ol ol {
  list-style-type: lower-alpha;
}

.instructions dd {
  margin-left: 0;
}

.instructions code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

.instructions pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.instructions .pl-0 {
  padding-left: 0 !important;
}

.instructions .pl-1 {
  padding-left: 3px !important;
}

.instructions .pl-2 {
  padding-left: 6px !important;
}

.instructions .pl-3 {
  padding-left: 12px !important;
}

.instructions .pl-4 {
  padding-left: 24px !important;
}

.instructions .pl-5 {
  padding-left: 36px !important;
}

.instructions .pl-6 {
  padding-left: 48px !important;
}

.instructions .form-select::-ms-expand {
  opacity: 0;
}

.instructions:before {
  display: table;
  content: "";
}

.instructions:after {
  display: table;
  clear: both;
  content: "";
}

.instructions>*:first-child {
  margin-top: 0 !important;
}

.instructions>*:last-child {
  margin-bottom: 0 !important;
}

.instructions a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.instructions .anchor {
  display: inline-block;
  padding-right: 2px;
  margin-left: -18px;
}

.instructions .anchor:focus {
  outline: none;
}

.instructions h1,
.instructions h2,
.instructions h3,
.instructions h4,
.instructions h5,
.instructions h6 {
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4;
}

.instructions h1 .octicon-link,
.instructions h2 .octicon-link,
.instructions h3 .octicon-link,
.instructions h4 .octicon-link,
.instructions h5 .octicon-link,
.instructions h6 .octicon-link {
  color: #000;
  vertical-align: middle;
  visibility: hidden;
}

.instructions h1:hover .anchor,
.instructions h2:hover .anchor,
.instructions h3:hover .anchor,
.instructions h4:hover .anchor,
.instructions h5:hover .anchor,
.instructions h6:hover .anchor {
  text-decoration: none;
}

.instructions h1:hover .anchor .octicon-link,
.instructions h2:hover .anchor .octicon-link,
.instructions h3:hover .anchor .octicon-link,
.instructions h4:hover .anchor .octicon-link,
.instructions h5:hover .anchor .octicon-link,
.instructions h6:hover .anchor .octicon-link {
  visibility: visible;
}

.instructions h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}

.instructions h1 .anchor {
  line-height: 1;
}

.instructions h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}

.instructions h2 .anchor {
  line-height: 1;
}

.instructions h3 {
  font-size: 1.5em;
  line-height: 1.43;
}

.instructions h3 .anchor {
  line-height: 1.2;
}

.instructions h4 {
  font-size: 1.25em;
}

.instructions h4 .anchor {
  line-height: 1.2;
}

.instructions h5 {
  font-size: 1em;
}

.instructions h5 .anchor {
  line-height: 1.1;
}

.instructions h6 {
  font-size: 1em;
  color: #777;
}

.instructions h6 .anchor {
  line-height: 1.1;
}

.instructions p,
.instructions blockquote,
.instructions ul,
.instructions ol,
.instructions dl,
.instructions table,
.instructions pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.instructions hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
}

.instructions ul,
.instructions ol {
  padding-left: 2em;
}

.instructions ul ul,
.instructions ul ol,
.instructions ol ol,
.instructions ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.instructions li>p {
  margin-top: 16px;
}

.instructions dl {
  padding: 0;
}

.instructions dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}

.instructions dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.instructions blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}

.instructions blockquote>:first-child {
  margin-top: 0;
}

.instructions blockquote>:last-child {
  margin-bottom: 0;
}

.instructions table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

.instructions table th {
  font-weight: bold;
}

.instructions table th,
.instructions table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

.instructions table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.instructions table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.instructions img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}

.instructions code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

.instructions code:before,
.instructions code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.instructions pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.instructions .highlight {
  margin-bottom: 16px;
}

.instructions .highlight pre,
.instructions pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}

.instructions .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.instructions pre {
  word-wrap: normal;
}

.instructions pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.instructions pre code:before,
.instructions pre code:after {
  content: normal;
}

.instructions kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

.instructions .pl-c {
  color: #969896;
}

.instructions .pl-c1,
.instructions .pl-s .pl-v {
  color: #0086b3;
}

.instructions .pl-e,
.instructions .pl-en {
  color: #795da3;
}

.instructions .pl-s .pl-s1,
.instructions .pl-smi {
  color: #333;
}

.instructions .pl-ent {
  color: #63a35c;
}

.instructions .pl-k {
  color: #a71d5d;
}

.instructions .pl-pds,
.instructions .pl-s,
.instructions .pl-s .pl-pse .pl-s1,
.instructions .pl-sr,
.instructions .pl-sr .pl-cce,
.instructions .pl-sr .pl-sra,
.instructions .pl-sr .pl-sre {
  color: #183691;
}

.instructions .pl-v {
  color: #ed6a43;
}

.instructions .pl-id {
  color: #b52a1d;
}

.instructions .pl-ii {
  background-color: #b52a1d;
  color: #f8f8f8;
}

.instructions .pl-sr .pl-cce {
  color: #63a35c;
  font-weight: bold;
}

.instructions .pl-ml {
  color: #693a17;
}

.instructions .pl-mh,
.instructions .pl-mh .pl-en,
.instructions .pl-ms {
  color: #1d3e81;
  font-weight: bold;
}

.instructions .pl-mq {
  color: #008080;
}

.instructions .pl-mi {
  color: #333;
  font-style: italic;
}

.instructions .pl-mb {
  color: #333;
  font-weight: bold;
}

.instructions .pl-md {
  background-color: #ffecec;
  color: #bd2c00;
}

.instructions .pl-mi1 {
  background-color: #eaffea;
  color: #55a532;
}

.instructions .pl-mdr {
  color: #795da3;
  font-weight: bold;
}

.instructions .pl-mo {
  color: #1d3e81;
}

.instructions kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

.instructions .full-commit .btn-outline:not(:disabled):hover {
  color: #4078c0;
  border: 1px solid #4078c0;
}

.instructions :checked+.radio-label {
  position: relative;
  z-index: 1;
  border-color: #4078c0;
}

.instructions .octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.instructions .task-list-item {
  list-style-type: none;
}

.instructions .task-list-item+.task-list-item {
  margin-top: 3px;
}

.instructions .task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

.instructions hr {
  border-bottom-color: #eee;
}
