/* CSS declarations go here */
@font-face{ 
  font-family: 'proxima-nova';
  src: url('https://raw.githubusercontent.com/GetAmbassador/conventions-bower/master/fonts/proxima-nova/proximanova-regular-webfont.eot');
  src: url('https://raw.githubusercontent.com/GetAmbassador/conventions-bower/master/fonts/proxima-nova/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://raw.githubusercontent.com/GetAmbassador/conventions-bower/master/fonts/proxima-nova/proximanova-regular-webfont.woff') format('woff'),
       url('https://raw.githubusercontent.com/GetAmbassador/conventions-bower/master/fonts/proxima-nova/proximanova-regular-webfont.ttf') format('truetype'),
       url('https://raw.githubusercontent.com/GetAmbassador/conventions-bower/master/fonts/proxima-nova/proximanova-regular-webfont.svg#webfonWebFontt') format('svg');
}
.button {
  border-radius: 3px;
  font-weight: 600;
  background: #298eea;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  border: 0;
  text-align: center;
  padding: 0 1.6rem;
  font-size: 70px;
  min-height: 70px;
  line-height: 70px;
  width: 100%;
  display: block;
}
form .Button:disabled {
  font-size: 35px;
}
body {
  font-family: proxima-nova;
}
fieldset {
  border: 0;
  margin: 10px 0;
  padding: 0;
}
.content {
  max-width: 480px;
  margin: 0 auto;
}
header h1 {
  color: #298eea;
}
h2 {
  margin: 20px 0;
}
input[readonly] {
  border: 0;
}
